html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Contrail One', cursive;
    margin: 0em;
}

h2{
    text-align: center;
    color: white;
    box-shadow: inset 0 3px 6px rbga (0,0,0 0.7);
    background-color: #19212F;
    font-size: 2rem;
    padding: 0.5em;
        margin: 0;
}

.left{
    width:125px;
    padding: 0;
    position: absolute;
    left: 2.2em;
    top: 4em;
    transition: all 200ms linear;
}

.right{
    width: 125px;
    margin-top: 0;
    transition: all 200ms linear;
    position: absolute;
    right: 2.2em;
        top: 4em;
}

.greenthing{
    width: 46px;
    transition: all 200ms linear;
    position: relative;
    top: 7em;
}

.body{
    width: 320px;
    display: block;
margin: 0 auto;
    padding-top: 1em;
}

header {
    background-color: #2C3950;
    text-align: center;
}

.beepboop:hover .right {
    right: 1em;
}

.beepboop:hover .left {
    left: 1em;
}

.beepboop:hover .greenthing {
    top: 1em;
}

.beepboop {
    position: relative;
    width: 320px;
    margin: 0 auto;

}